{% load sliders_tag %}
{% load content_type_tag %}
{% load i18n %}
{% channel_list sort=component.sort_method as elements %}
<div class="channelsRecomend">
    <div class="block-header block-header_channels" style="margin-top: 20px;">
        <div class="title">
            {{ component.name_on_page }}
        </div>
    </div>
    {% for element in elements %}
        <div class="pchannel channels-page">
            <div class="pchannel__img_wrap">
                <div class="pchannel__img" style="background: url('{{ element.get_poster }}');">
                </div>
                {% check_added_to_watchlist user=request.user model=element as added %}
                <button type="button" class="pchannel__add {% if added %}pchannel__added{% endif %}" data-chid="{{ element.id }}" onclick="AddChToWLBtn(this);"></button>
            </div>
            <div class="pchannel__text_wrap">
                <div class="pchannel__text">
                    <h5>{{ element.name }}</h5>
                    <span>{% trans 'Viewers' %}: <span class="randintviews"></span></span>
                </div>
                <a href="{% url 'channel-page' pk=element.id %}" class="pchannel__btn">
                    {% trans 'Watch' %}
                </a>
            </div>
        </div>
    {% endfor %}
</div>

<script>

    function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min) + min);
    }

    document.addEventListener('DOMContentLoaded', function(){
        let randel = document.querySelectorAll('.randintviews')
        randel.forEach((el) => {
            el.innerHTML = getRandomInt(5012, 13384)
        })
    })
</script>