
#dirs
/venv
/.idea
*/__pycache__
/sett
/deploy
/export
/media/uploads/advideos
/media/uploads/movies
/media/uploads/series
/media/uploads/shows
/media/uploads/sport
/main/static/main/subs
/static
/all_bsh
/all_cont_p
*/migrations/*


#Files
*.pyc
*.log
/import/*
/export/*
/zolatv/config.py
/req.txt
