{% extends "../../base.html" %}
{% load static %}
{% load i18n %}
{% load rating_tag %}
{% load settings_tag %}
{% load subtitle_tag %}
{% block title %}{{ serie.name }}{% endblock title %}
{% block head_links %}
    <script src="{% static 'main/js/MultiplePlayers.js' %}" type="text/javascript"></script>
{% endblock head_links %}
{% block content %}
    {% get_settings as settings %}
    {% get_rating object=serie as rating %}
    {% csrf_token %}
    <div class="header-video">
        {% if settings.SHOW_HEADERS %}
            {% include 'main/components/header.html' with popup=0 %}
        {% endif %}
    </div>
    <main class="main-main vido video-body movie-card serie-card">
        <div class="main-video">
            <div class="main-video__content" id="mplr">
                <img src="{{ serie.get_poster }}" alt="">
            </div>
        </div>
        <button class="video__back" onclick="history.back()">
            <img src="{% static 'main/img/icons/video-back.svg' %}" alt="">
        </button>
        <div class="video__decription">
            <div class="video__decription_name">
                {{ serie.name }}
            </div>
            <div class="video__decription_flex">
                <div class="video__decription_year">
                    {{ seasons_count }} {% trans 'Seasons' %}
                </div>
                <div class="video__decription_decor-dot">

                </div>
                <div class="video__decription_genres">
                    {{ episodes_count }} {% trans 'Episodes' %}
                </div>
            </div>
            <div class="video__decription_flex">
                <div class="video__decription_rating">
                    {{ rating.grade }}
                </div>
                <div class="video__decription_agency">
                    {{ serie.year }}
                </div>
                <div class="video__decription_decor-dot">

                </div>
                <div class="video__decription_time">
                    {{ episode.duration }}
                </div>
            </div>
            <div class="video__decription_text" id="text" style="padding-right: 62px; text-align: left;">
                {{ serie.description }}
            </div>
            <button id="read-more" class="video__decription_readMore">
                {% trans 'Read More' %}
            </button>
            {% include 'main/components/page-elements/detail/show/SocialBlock.html' with episode=episode %}

            {#            {% if not settings.ITS_APP %}#}
            {#                {% include 'main/banner-templates/proxectxpratingptext.html' %}#}
            {#            {% else %}#}
            {% if page.element1 != None %}
                {% include page.element1.path with component=page.element1 %}
            {% endif %}
            {#            {% endif %}#}

            {% include 'main/components/page-elements/detail/show/UserRatingBlock.html' with rating=rating obj_title=obj_title %}
            {% include 'main/components/page-elements/detail/show/SeasonsSlider.html' with serie=serie %}
        </div>


        {% if page.element2 != None %}
            {% include page.element2.path with component=page.element2 %}
        {% endif %}
        {% if page.element3 != None %}
            {% include page.element3.path with component=page.element3 %}
        {% endif %}
        {% if page.element4 != None %}
            {% include page.element4.path with component=page.element4 %}
        {% endif %}
        {% if page.element5 != None %}
            {% include page.element5.path with component=page.element5 %}
        {% endif %}

        {% if page.element6 != None %}
            {% include page.element6.path with component=page.element6 %}
        {% endif %}
        {% if page.element7 != None %}
            {% include page.element7.path with component=page.element7 %}
        {% endif %}
        {% if page.element8 != None %}
            {% include page.element8.path with component=page.element8 %}
        {% endif %}
        {% if page.element9 != None %}
            {% include page.element9.path with component=page.element9 %}
        {% endif %}
        {% if page.element10 != None %}
            {% include page.element10.path with component=page.element10 %}
        {% endif %}
    </main>
    <div class="subtitle-popup">
        {% include 'main/components/subtitles-popup.html' with name=serie.name %}
    </div>
    <div class="comments-popup">
        {% include 'main/components/comments-popup.html' with c_type=3 c_model=episode %}
    </div>
    <div class="rating-popup">
        {% include 'main/components/rating-popup.html' with c_model=serie rating=rating %}
    </div>
    {% if settings.SHOW_FOOTERS %} {% include 'main/components/footer.html' with page="main" %} {% endif %}
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            setTimeout(() => {
                try {
                    AndroidFunction.setBottomNavVisibility(false)
                } catch (e) {
                }
            }, 500)

        });

    </script>
    {% get_subtitles sub_urls=serie.subtitle_urls as subs %}
    <script>

        var MainPlayer = new Playerjs({
            id: "mainpl",
            file: "{{ episode.get_video }}",
            player: 1,
            subtitle: "{% if subs %}{{ subs }}{% else %}[En]/live.vtt{% endif %}",
            poster: "{{ episode.get_poster }}"
        });
        var MidrollAdPl = new Playerjs({
            id: "admid",
            file: "{{ midroll.video.get_video }}",
            player: 2,
            autoplay: false
        });

        function AddToWLBtn(btn) {
            let csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value
            request = $.ajax({
                url: `/${currLocale}/tv-show/${btn.getAttribute('data-epid')}/add-to-watchlist`,
                type: "post",
                data: {
                    "csrfmiddlewaretoken": csrf,
                }
            })
            request.done(function (response, textStatus, jqXHR) {
                response = JSON.parse(response)
                if (response.resp == "OK") {
                    btn.classList.toggle('add-to-wl-btn_added')
                } else if (response.resp == "redirect") {
                    window.location.replace(document.location.protocol + "//" + document.location.hostname + response.rev)
                }
            })
        }

        let request = getUrlVars()
        if (request.comments) {
            openComments()
        }
        if (request.ref) {
            document.querySelector('.video__back').setAttribute('onclick', 'retToHome();')
            if (getCookie('ref_url') === undefined) {
                setCookie('ref_url', window.location.href)
            }
        }

        function retToHome() {
            window.location = '/'
        }

        {#        {% get_settings as settings  %}#}
        {#        {% if not settings.ITS_APP %}#}
        {#            $(document).ready(function () {#}
        {#                let counter = 0#}
        {#                let inters = setInterval(() => {#}
        {#                    if (MainPlayer.api('time') > {{ settings.time_to_dapp }}) {#}
        {#                        window.location = document.location.protocol + "//" + document.location.hostname + "/" + currLocale + '/app-download?msg=1'#}
        {#                    }#}
        {#                    counter++#}
        {#                }, 1000)#}
        {##}
        {#            })#}
        {#        {% endif %}#}
    </script>
{% endblock scripts %}
