{% load static %}

<div class="popup" id="popup">
    <button class="popup__close" id="popup-close">
        <img src="{% static 'main/img/icons/popup-close.svg' %}" alt="">
    </button>
    <div class="popup__content">
        <div class="popup__img">
                <img src="{% static 'main/img/icons/popup-android.svg' %}" alt="">
        </div>
        <div class="popup__version"> Version 1.0</div>
        <div class="popup__title"> Install Px TV app in 1 click <br> Enjoy all features:</div>
        <div class="popup__items">
            <div class="popup__item">
                <div class="popup__item_img">
                        <img src="{% static 'main/img/icons/popup-item1.svg' %}" alt="">
                </div>
                Best quality for Movies/Series
            </div>
            <div class="popup__item">
                <div class="popup__item_img">
                        <img src="{% static 'main/img/icons/popup-item2.svg' %}" alt="">
                </div>
                Download and watch offline
            </div>
            <div class="popup__item">
                <div class="popup__item_img">
                        <img src="{% static 'main/img/icons/popup-item3.svg' %}" alt="">
                </div>
                Create your own watchlist
            </div>
            <div class="popup__item">
                <div class="popup__item_img">
                        <img src="{% static 'main/img/icons/popup-item4.svg' %}" alt="">
                </div>
                Recommend videos to friends
            </div>
            <div class="popup__item">
                <div class="popup__item_img">
                        <img src="{% static 'main/img/icons/popup-item5.svg' %}" alt="">
                </div>
                Review and post comments
            </div>
            <div class="popup__item">
                <div class="popup__item_img">
                        <img src="{% static 'main/img/icons/popup-item6.svg' %}" alt="">
                </div>
                Rate and Discover best videos
            </div>
        </div>
        <div class="install-btn">
                <img src="{% static 'main/img/icons/android.svg' %}" alt="">
            INSTALL APP
        </div>
    </div>
</div>