{% extends "../../base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% load static %}
{% load i18n %}
{% block content %}
    <main class="language__wrapper">
        <div class="trending__header">
            <button onclick="history.back()">
                {% if request.session.dark %}
                    <img src="{% static 'main/img/icons_dark/back-arrow.svg' %}" alt="">
                {% else %}
                    <img src="{% static 'main/img/icons/back-arrow.svg' %}" alt="">
                {% endif %}
            </button>
            <span>LANGUAGE</span>
        </div>
        <div class="language">
            <ul class="language__content">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <li class="language__link {% if language.code == LANGUAGE_CODE %}language__link_active{% endif %}"
                             onclick="changeLang('{{ language.code }}', '{% url 'set_language' %}')">{{ language.name_local }}</li>
                    {% endfor %}
            </ul>
        </div>
    </main>
{% endblock content %}
