{% load static %}
{% load sport_tag %}
{% load i18n %}
{% matcheslist sort=component.sort_method as elements %}
<div class="tab matches " hidden id="secondTab">
    {% for element in elements %}
        <div class="sport__item_wrap">
            <a href="{% url 'sport-page' pk=element.id %}" class="sport__item">
                <div class="sport__item_left">
                    <img src="{{ element.get_poster }}" alt="" class="sport__item_img">
                    {% if element.live_ch %}
                        <div class="sport__item_live">
                            {% trans 'LIVE' %}
                        </div>
                    {% endif %}
                    <div class="sport__item_name">
                        {{ element.name }}
                    </div>
                </div>
            </a>
            <div class="sport__item_right">
                <div class="sport__item_watching">
                    {{ element.get_date }}
                </div>
                <button class="sport__item_share" data-elurl="{% url 'sport-page' pk=element.id %}"
                        data-elname="{{ element.name }}" onclick="shareEl(this);">
                    <img src="{% static 'main/img/icons/share.svg' %}" alt="">
                    {% trans 'SHARE' %}
                </button>
                <div class="sport__item_tag">
                    {{ element.kind.name }}
                </div>
            </div>
        </div>


    {% endfor %}
</div>