{% extends "../base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% load static %}
{% load i18n %}
{% block content %}
    <main class="work_wrapper">
        <div class="work">
            <div class="work__img">
                {% if request.session.dark %}
                    <img src="{% static 'main/img/work-in-progress.svg' %}" alt="">

                {% else %}
                    <img src="{% static 'main/img/work-in-progress-dark.svg' %}" alt="">
                {% endif %}
            </div>
            <div class="work__title">
                {% trans 'We’re working hard to get this feature done soon.' %}
            </div>
        </div>
        <a href="{% url 'main_page' %}" class="work__btn">{% trans 'OKAY' %}</a>
    </main>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            setTimeout(() => {
                try {
                    AndroidFunction.setBottomNavVisibility(false)
                } catch (e) {
                }
            }, 500)

        });

    </script>

{% endblock scripts %}