{% extends "../base.html" %}
{% block title %}{{ list.name }}{% endblock title %}
{% load static %}
{% load lists_tag %}
{% load rating_tag %}
{% block content %}
    <div class="trending__header">
        <button onclick="history.back()">
            {% if request.session.dark %}
                <img src="{% static 'main/img/icons_dark/back-arrow.svg' %}" alt="">
            {% else %}
                <img src="{% static 'main/img/icons/back-arrow.svg' %}" alt="">
            {% endif %}
        </button>
        <span>{{ list.name }}</span>
    </div>

    <div class="trending__items sample">
    {% get_show_f_list sort=list.sort_method as shows %}
        {% for element in shows %}
            {% if forloop.last %}
                <a href="{% url 'show-page' pk=element.id %}" class="sample__slide pack_slide last-loaded"
                   data-lastloadid="{{ element.id }}"
                   data-loadmodelid="{{ model }}">
            {% else %}
                <a href="{% url 'show-page' pk=element.id %}" class="sample__slide pack_slide ">
            {% endif %}
        <div class="slide__cart_back"></div>
        <div class="slide__cart_overback"></div>
        <div class="slide-image__wrapper" style="background-image: url('{{ element.get_poster }}')">
        </div>
        {% get_rating object=element as rating %}
        <div class="sample__slide_rating">{{ rating.grade }}</div>
        <div class="sample__slide_name">{{ element.name }}</div>
        <div class="sample__slide_genre">{{ element.get_two_genres }}</div>
        </a>
        {% endfor %}
    </div>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            setTimeout(() => {
                try {
                    AndroidFunction.setBottomNavVisibility(false)
                } catch (e) {
                }
            }, 500)

        });

    </script>
{% endblock scripts %}