<div class="pchannel">
    <div class="pchannel__img_wrap">
        <div class="pchannel__img" style="background: url('{{ element.get_poster }}');">
        </div>
        <button type="button" class="pchannel__remove" data-elid="{{ element.id }}" data-type="4" onclick="removeFromWl(this, '.popup-rm');"></button>
    </div>
    <div class="pchannel__text_wrap">
        <div class="pchannel__text">
            <h5>{{ element.name }}</h5>
            <span>Viewers: {{ element.viewers }}</span>
        </div>
        <a href="{% url 'channel-page' pk=element.id %}" class="pchannel__btn">
            Watch
        </a>
    </div>
</div>