<div class="pchannel">
    <div class="pchannel__img_wrap">
        <div class="pchannel__img" style="background: url('{{ element.get_poster }}');">
        </div>
        <button type="button" class="pchannel__remove" data-elid="{{ element.id }}" data-type="4" onclick="removeFromWl(this, '.popup-rm');"></button>
    </div>
    <div class="pchannel__text_wrap">
        <div class="pchannel__text">
            <h5>{{ element.name }}</h5>
            <span>Viewers: {{ element.viewers }}</span>
        </div>
        <a href="{% url 'channel-page' pk=element.id %}" class="pchannel__btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="none">
                <g filter="url(#filter0_d)">
                    <path d="M11.317 6.485a1.554 1.554 0 010 2.57L5.73 12.852c-1.032.7-2.428-.038-2.428-1.286v-7.59c0-1.247 1.396-1.986 2.428-1.285l5.587 3.795z"
                          fill="#fff"></path>
                </g>
                <defs>
                    <filter id="filter0_d" x=".194" y=".864" width="14.912" height="16.92" filterUnits="userSpaceOnUse"
                            color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                        <feColorMatrix in="SourceAlpha"
                                       values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"></feColorMatrix>
                        <feOffset dy="1.554"></feOffset>
                        <feGaussianBlur stdDeviation="1.554"></feGaussianBlur>
                        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feBlend in2="BackgroundImageFix" result="effect1_dropShadow"></feBlend>
                        <feBlend in="SourceGraphic" in2="effect1_dropShadow" result="shape"></feBlend>
                    </filter>
                </defs>
            </svg>
            Watch
        </a>
    </div>
</div>