{% if page.element1 != None %}
    {% include page.element1.path with component=page.element1 %}
{% endif %}
{% if page.element2 != None %}
    {% include page.element2.path with component=page.element2 %}
{% endif %}
{#{% if page.element3 != None %}#}
{#    {% include page.element3.path with component=page.element3 %}#}
{#{% endif %}#}
<br>
<br>
{% if page.element4 != None %}
    {% include page.element4.path with component=page.element4 %}
{% endif %}
{% if page.element5 != None %}
    {% include page.element5.path with component=page.element5 %}
{% endif %}

{% if page.element6 != None %}
    {% include page.element6.path with component=page.element6 %}
{% endif %}
{% if page.element7 != None %}
    {% include page.element7.path with component=page.element7 %}
{% endif %}
{% if page.element8 != None %}
    {% include page.element8.path with component=page.element8 %}
{% endif %}
{% if page.element9 != None %}
    {% include page.element9.path with component=page.element9 %}
{% endif %}
{% if page.element10 != None %}
    {% include page.element10.path with component=page.element10 %}
{% endif %}