{% extends "../../../base.html" %}
{% block title %}{{ title }}{% endblock title %}
{% load static %}
{% load i18n %}
{% load settings_tag %}
{% block head_links %}
    <link rel="stylesheet" href="{% static 'main/css/intlTelInput.min.css' %}">
{% endblock head_links %}
{% block content %}
    {% get_settings as settings %}
    {% csrf_token %}
    <main class="register-form register-form_active" data-step="1">
        <div class="trending__header">
            <button type="button" onclick="history.go(-1)">
                {% if request.session.dark %}
                    <img src="{% static 'main/img/icons_dark/back-arrow.svg' %}" alt="">
                {% else %}
                    <img src="{% static 'main/img/icons/back-arrow.svg' %}" alt="">
                {% endif %}
            </button>
        </div>

        <div class="register-form__tabs">
            <div class="register-form__tab {% if error_type == 2 %}register-form__tab_active{% endif %}" data-tabid="2">
                <p>{% trans 'Email' %}</p>
            </div>
            <div class="register-form__tab {% if error_type == 1 or error_type == 0 %}register-form__tab_active{% endif %}"
                 data-tabid="1">
                <p>{% trans 'Phone' %}</p>
            </div>

        </div>
        <div class="register-form__forms">
            <form class="form-email regist-form {% if error_type == 2 %} form-reg_w_active {% endif %}" method="post"
                  data-formid="2">
                {% csrf_token %}
                <div class="form_c_wrapper">
                    <input type="hidden" name="type" value="2">
                    <div class="register-form__form form-reg form-reg_active">
                        <h2 class="form-log__title">{% trans 'Sign in using email' %}</h2>
                        <div class="form-log__input-block">
                            <div class="form-reg__input-first">
                                <p class="input__suptitle">{% trans 'Enter email' %}</p>
                                <input class="form-reg__input form-log__input_email" type="email" name="username"
                                       id="email"
                                       placeholder="example@mail.com">
                                <hr>
                                <ul class="error-block error-block__email">
                                    {#                                {% if errors_email %}#}
                                    {#                                    {% for error in errors_email %}#}
                                    {#                                        <li>{{ error }}</li>#}
                                    {#                                    {% endfor %}#}
                                    {#                                {% endif %}#}
                                </ul>
                            </div>
                            <div class="form-reg__input-second">
                                <p class="input__suptitle">{% trans 'Enter password' %}</p>
                                <input class="form-reg__input form-log__input_password form-email-pass" type="password"
                                       name="password"
                                       id="password"
                                       placeholder="********">
                                <hr>
                                <ul class="error-block error-block__email-pass">
                                    {% if errors_email_pass %}
                                        {% for error in errors_email_pass %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                <a href="{% url 'recover-email' %}"
                                   class="pass-recov__link">{% trans 'Recover a password' %}</a>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="form_b_wrapper">
                    <button type="button" class="form-reg__btn" data-btnid="2">
                        {% trans 'SIGN IN' %}
                    </button>
                </div>

            </form>
            <form class="form-phone regist-form {% if error_type == 1 or error_type == 0 %} form-reg_w_active {% endif %}"
                  method="post" data-formid="1">
                {% csrf_token %}
                <div class="form_c_wrapper">
                    <input type="hidden" name="type" value="1">
                    <div class="register-form__form form-reg form-reg_active">
                        <h2 class="form-log__title">{% trans 'Sign in using phone' %}</h2>
                        <div class="form-log__input-block">
                            <div class="form-reg__input-first">
                                <p class="input__suptitle">{% trans 'Enter phone' %}</p>
                                <input class="form-reg__input form-reg__input_phone" type="tel" name="username"
                                       id="phone">
                                <hr class="iti-ph">
                                <ul class="error-block error-block__phone">
                                </ul>
                            </div>
                            <div class="form-reg__input-second">
                                <p class="input__suptitle">{% trans 'Enter password' %}</p>
                                <input class="form-reg__input form-log__input_password form-phone-pass" type="password"
                                       name="password"
                                       id="password" placeholder="********">
                                <hr>
                                <ul class="error-block error-block__phone-pass">
                                    {% if errors_phone_pass %}
                                        {% for error in errors_phone_pass %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                                <a href="{% url 'recover-phone' %}"
                                   class="pass-recov__link">{% trans 'Recover a password' %}</a>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="form_b_wrapper">
                    <button type="button" class="form-reg__btn" data-btnid="1">
                        {% trans 'SIGN IN' %}
                    </button>
                </div>


            </form>


        </div>

    </main>
{% endblock content %}
{% block scripts %}
    <script>
        $(document).ready(function () {
            setTimeout(() => {
                try {
                    AndroidFunction.setBottomNavVisibility(false)
                } catch (e) {
                }
            }, 500)

        });

    </script>
    <script src="{% static 'main/js/intlTelInput.js' %}"></script>
    <script src="https://unpkg.com/imask"></script>
    <script>
        $(document).ready(function () {
            $('.login-form-wrap').keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

        });


        var input = document.querySelector("#phone");
        var iti = window.intlTelInput(input, {
            utilsScript: "{% static 'main/js/inlutils.js' %}",
            preferredCountries: ['in', 'de', 'ru'],
        });
        {#var btn = document.querySelector(".form-reg__submit-btn")#}
        {#btn.addEventListener("click", (event) => {#}
        {#    alert((iti.getSelectedCountryData().dialCode + input.value).replace(/\s/g, ''));#}
        var maskOptions = {
            mask: '000 000 0000'
        };
        var mask = IMask(input, maskOptions);
        let tabs = document.querySelectorAll(".register-form__tab");
        let forms = document.querySelectorAll(".regist-form")
        let request = getUrlVars()
        if (request.tab) {
            switch (request.tab) {
                case "1":
                    openTab(1);
                    break;
                case "2":
                    openTab(2);
                    break;
                default:
                    openTab(2);
                    break;
            }
        } else {
            openTab(2);
        }


        for (let i = 0; i < tabs.length; i++) {
            tabs[i].addEventListener('click', (event) => {

                for (let j = 0; j < tabs.length; j++) {
                    tabs[j].classList.remove('register-form__tab_active')
                }
                for (let o = 0; o < forms.length; o++) {
                    forms[o].classList.remove('form-reg_w_active')
                }
                let form = document.querySelector(`form.regist-form[data-formid="${tabs[i].getAttribute('data-tabid')}"]`)
                tabs[i].classList.add('register-form__tab_active')
                form.classList.add('form-reg_w_active')
            })
        }

        function openTab(id) {
            tabs.forEach((element) => {
                element.classList.remove('register-form__tab_active')
            })
            forms.forEach((element) => {
                element.classList.remove('form-reg_w_active')
            })
            let fm = document.querySelector(`.regist-form[data-formid="${id}"]`).classList.add('form-reg_w_active')
            let tb = document.querySelector(`.register-form__tab[data-tabid="${id}"]`).classList.add('register-form__tab_active')
            console.log(fm, tb)
        }


        //steps

        let steps = document.querySelectorAll('.register-form')
        let btns = document.querySelectorAll('.form-reg__btn')
        let inputs = {
            phone: {
                phone: '',
                password: ''
            },
            email: {
                email: '',
                password: ''
            },
        }
        inputs.phone.phone = document.querySelector('.form-reg__input_phone')
        inputs.phone.password = document.querySelector('.form-phone-pass')
        inputs.email.email = document.querySelector('.form-log__input_email')
        inputs.email.password = document.querySelector('.form-email-pass')

        function phoneValidator(phone) {
            let errorBlock = document.querySelector('.error-block__phone')
            let errorMessages = []
            try {
                if (phone.length < 9) {
                    errorMessages.push("Phone number too short.")
                }
            } catch (e) {

            }
            try {
                if (phone.match(/[A-Z|a-z]|[+@#%$^&*()_\-`'"\\,.]/g)) {
                    errorMessages.push("Phone number cannot place symbols.")
                }
            } catch (e) {

            }


            if (errorMessages.length > 0) {
                errorBlock.innerHTML = ""
                errorMessages.forEach(value => {
                    errorBlock.innerHTML += `<li>${value}</li>`
                })
                return false
            } else {
                errorBlock.innerHTML = ""
                inputs.phone.phone.value = (iti.getSelectedCountryData().dialCode + input.value).replace(/\s/g, '')
                return true
            }
        }

        function emailValidator(email) {
            let errorBlock = document.querySelector('.error-block__email')
            let errorMessages = []
            try {
                if (email.length < 9) {
                    errorMessages.push("Email too short.")
                }
            } catch (e) {

            }
            try {
                if (email.match(/[+#%$^&*()`'"\\]/g)) {
                    errorMessages.push("Email cannot place symbols differs of A-z 0-9 @ _ - , .")
                }
            } catch (e) {
                console.error(e)
            }
            try {
                let splited = email.split("@")
                if (splited && splited[1].split('.').length < 2) {
                    errorMessages.push("Please enter a valid email.")
                }
            } catch (e) {
                console.error(e)
            }

            if (errorMessages.length > 0) {
                errorBlock.innerHTML = ""
                errorMessages.forEach(value => {
                    errorBlock.innerHTML += `<li>${value}</li>`
                })
                return false
            } else {
                errorBlock.innerHTML = ""
                return true
            }
        }

        function passwordValidator(password, errorbBlock) {
            let errorBlock = document.querySelector(errorbBlock)

            let errorMessages = []
            try {
                if (password.length < 6) {
                    errorMessages.push("Password cannot be smaller of 6 symbols.")
                }
            } catch (e) {

            }
            try {
                if (password.match(/[`'"\\]/g)) {
                    errorMessages.push("Password cannot be place this symbols: ` ' \" \\")
                }
            } catch (e) {

            }

            if (errorMessages.length > 0) {
                errorBlock.innerHTML = ""
                errorMessages.forEach(value => {
                    errorBlock.innerHTML += `<li>${value}</li>`
                })
                return false
            } else {
                errorBlock.innerHTML = ""
                return true
            }
        }

        function closeAllSteps() {
            for (let i = 0; i < steps.length; i++) {
                steps[i].classList.remove('register-form_active')
            }
        }

        function openStep(id) {
            console.log(id)
            if (id == '1') {
                if (phoneValidator(inputs.phone.phone.value) && passwordValidator(inputs.phone.password.value, '.error-block__phone-pass')) {
                    sendForm(1)
                }

            } else if (id == '2') {

                if (emailValidator(inputs.email.email.value) && passwordValidator(inputs.email.password.value, '.error-block__email-pass')) {
                    sendForm(2)
                }
            }
        }

        function sendForm(id) {
            if (id == 1) {
                formPhone = document.querySelector('.form-phone')
            } else if (id == 2) {
                formPhone = document.querySelector('.form-email')
            }

            formPhone.submit()
        }

        for (let i = 0; i < btns.length; i++) {
            btns[i].addEventListener('click', (event) => {
                let btnId = btns[i].getAttribute('data-btnid')
                openStep(btnId)
            })
        }
    </script>
{% endblock scripts %}